# Variáveis para o worker no Docker Compose
SUPABASE_URL=https://gyyffvpjcwcwjswlinzw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5eWZmdnBqY3djd2pzd2xpbnp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTU4NDc2MSwiZXhwIjoyMDk3MTYwNzYxfQ.EM660KojvppdNkXM0ZpCwDChAIkCrca95oSuSo_nq1M

